* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #efefef;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*   
  align-items: baseline;
  justify-content: flex-end;
  justify-content: space-evenly;
  justify-content: space-between;
  flex-direction: column-reverse;
  flex-direction: row-reverse; */
}
.items {
  background-color: rgb(68, 23, 231);
  padding: 30px;
  margin: 30px;
  font-size: 60px;
  color: white;
  flex-grow: 1;
  /* flex:1; */
  /* they grow as much as they can */
}
.b3 {
  height: 200px;
  font-size: 80px;
  order: -5;
  /* flex-grow: 2; */
}
.b4 {
  align-self: flex-end;
  order: -4;
  flex: 0 0 20%;
  /* flex-basis: 20%; */
  /* flex-shrink: 1; element will shrinnk if there's no avilable space!*/
  /* flex-shrink: 0; */
  /* occupies 20% of the width the container */
  /* align-self: flex-end; */
  /* align-self: stretch; */
}
